:root {
    --dark: #000000;
    --light1: #FFFFFF;
    --dark2: #262626;
    --light2: #F2F2F2;
    --accent1: #D5D6CC;
    --accent2: #AAAEA4;
    --accent3: #D0CECE;
    --accent4: #9EA939;
    --accent5: #E5AD00;
    --accent6: #AD1F1F;
    --link: #9EBCBB;
    --activeLink: #689796;
    --shadow: #26262633;
}